In [ ]:
#Reference  https://github.com/cedrickchee/knowledge/blob/master/courses/fast.ai/machine-learning/2017-edition/lesson-1-intro-random-forests.md

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
 pip install fastai==1.0.61

Requirement already satisfied: fastai==1.0.61 in c:\anaconda3\lib\site-packages (1.0.61)
Requirement already satisfied: packaging in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (19.2)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (2.22.0)
Requirement already satisfied: nvidia-ml-py3 in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (7.352.0)
Requirement already satisfied: Pillow in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (6.2.0)
Requirement already satisfied: numpy>=1.15 in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (1.19.2)
Requirement already satisfied: torch>=1.0.0 in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (1.8.1)
Requirement already satisfied: fastprogress>=0.2.1 in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (1.0.0)
Requirement already satisfied: scipy in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (1.3.1)
Requirement already satisfied: torchvision in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (0.9.1)
Requirement already satisfied: spacy>=2.0.18; python_version < "3.8" in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (2.3.5)
Requirement already satisfied: numexpr in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (2.7.0)
Requirement already satisfied: bottleneck in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (1.2.1)
Requirement already satisfied: matplotlib in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (3.1.1)
Requirement already satisfied: pandas in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (0.25.1)
Requirement already satisfied: beautifulsoup4 in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (4.8.0)
Requirement already satisfied: pyyaml in c:\anaconda3\lib\site-packages (from fastai==1.0.61) (5.1.2)
Requirement already satisfied: six in c:\anaconda3\lib\site-packages (from packaging->fastai==1.0.61) (1.12.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\anaconda3\lib\site-packages (from packaging->fastai==1.0.61) (2.4.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\anaconda3\lib\site-packages (from requests->fastai==1.0.61) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\anaconda3\lib\site-packages (from requests->fastai==1.0.61) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\lib\site-packages (from requests->fastai==1.0.61) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\anaconda3\lib\site-packages (from requests->fastai==1.0.61) (1.24.2)
Requirement already satisfied: typing_extensions in c:\anaconda3\lib\site-packages (from torch>=1.0.0->fastai==1.0.61) (3.7.4.3)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (1.0.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (4.59.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (2.0.5)
Requirement already satisfied: setuptools in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (41.4.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (1.0.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (1.0.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (0.8.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (3.0.5)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (7.4.5)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (0.7.4)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in c:\anaconda3\lib\site-packages (from spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (0.9.6)
Requirement already satisfied: cycler>=0.10 in c:\anaconda3\lib\site-packages (from matplotlib->fastai==1.0.61) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda3\lib\site-packages (from matplotlib->fastai==1.0.61) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\anaconda3\lib\site-packages (from matplotlib->fastai==1.0.61) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\anaconda3\lib\site-packages (from pandas->fastai==1.0.61) (2019.3)
Requirement already satisfied: soupsieve>=1.2 in c:\anaconda3\lib\site-packages (from beautifulsoup4->fastai==1.0.61) (1.9.3)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in c:\anaconda3\lib\site-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (3.10.0)
Requirement already satisfied: zipp>=0.5 in c:\anaconda3\lib\site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (0.6.0)
Requirement already satisfied: more-itertools in c:\anaconda3\lib\site-packages (from zipp>=0.5->importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.0.18; python_version < "3.8"->fastai==1.0.61) (7.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from fastai.imports import *
#from fastai.structured import *
#from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [4]:
!pip install pandas-summary

Requirement already satisfied: pandas-summary in c:\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from pandas-summary) (1.19.2)
Requirement already satisfied: pandas in c:\anaconda3\lib\site-packages (from pandas-summary) (0.25.1)
Requirement already satisfied: pytz>=2017.2 in c:\anaconda3\lib\site-packages (from pandas->pandas-summary) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\anaconda3\lib\site-packages (from pandas->pandas-summary) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->pandas-summary) (1.12.0)

In [5]:
#from fastai.structured import *
from fastai.tabular import *
#from pandas_summary import DataFrameSummary

In [6]:
from pandas_summary import DataFrameSummary

In [7]:
#reading csv file
df_raw=pd.read_csv('Train.csv',low_memory=False,parse_dates=["saledate"])

In [8]:
def display_all(df):
    with pd.option_context("display.max_rows",1000):
        with pd.option_context("display.max_columns",1000):
            display(df)
display_all(df_raw.tail().transpose())

,401120,401121,401122,401123,401124
SalesID,6333336,6333337,6333338,6333341,6333342
SalePrice,10500,11000,11500,9000,7750
MachineID,1840702,1830472,1887659,1903570,1926965
ModelID,21439,21439,21439,21435,21435
datasource,149,149,149,149,149
auctioneerID,1,1,1,2,2
YearMade,2005,2005,2005,2005,2005
MachineHoursCurrentMeter,NaN,NaN,NaN,NaN,NaN
UsageBand,NaN,NaN,NaN,NaN,NaN
saledate,2011-11-02 00:00:00,2011-11-02 00:00:00,2011-11-02 00:00:00,2011-10-25 00:00:00,2011-10-25 00:00:00
fiModelDesc,35NX2,35NX2,35NX2,30NX,30NX
fiBaseModel,35,35,35,30,30
fiSecondaryDesc,NX,NX,NX,NX,NX
fiModelSeries,2,2,2,NaN,NaN
fiModelDescriptor,NaN,NaN,NaN,NaN,NaN
ProductSize,Mini,Mini,Mini,Mini,Mini
fiProductClassDesc,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...","Hydraulic Excavator, Track - 3.0 to 4.0 Metric...","Hydraulic Excavator, Track - 3.0 to 4.0 Metric...","Hydraulic Excavator, Track - 2.0 to 3.0 Metric...","Hydraulic Excavator, Track - 2.0 to 3.0 Metric..."
state,Maryland,Maryland,Maryland,Florida,Florida
ProductGroup,TEX,TEX,TEX,TEX,TEX
ProductGroupDesc,Track Excavators,Track Excavators,Track Excavators,Track Excavators,Track Excavators
Drive_System,NaN,NaN,NaN,NaN,NaN
Enclosure,EROPS,EROPS,EROPS,EROPS,EROPS
Forks,NaN,NaN,NaN,NaN,NaN
Pad_Type,NaN,NaN,NaN,NaN,NaN
Ride_Control,NaN,NaN,NaN,NaN,NaN
Stick,NaN,NaN,NaN,NaN,NaN
Transmission,NaN,NaN,NaN,NaN,NaN
Turbocharged,NaN,NaN,NaN,NaN,NaN
Blade_Extension,NaN,NaN,NaN,NaN,NaN
Blade_Width,NaN,NaN,NaN,NaN,NaN
Enclosure_Type,NaN,NaN,NaN,NaN,NaN
Engine_Horsepower,NaN,NaN,NaN,NaN,NaN
Hydraulics,Auxiliary,Standard,Auxiliary,Standard,Standard
Pushblock,NaN,NaN,NaN,NaN,NaN
Ripper,NaN,NaN,NaN,NaN,NaN
Scarifier,NaN,NaN,NaN,NaN,NaN
Tip_Control,NaN,NaN,NaN,NaN,NaN
Tire_Size,NaN,NaN,NaN,NaN,NaN
Coupler,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Coupler_System,NaN,NaN,NaN,NaN,NaN
Grouser_Tracks,NaN,NaN,NaN,NaN,NaN
Hydraulics_Flow,NaN,NaN,NaN,NaN,NaN
Track_Type,Steel,Steel,Steel,Steel,Steel
Undercarriage_Pad_Width,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Stick_Length,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Thumb,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Pattern_Changer,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Grouser_Type,Double,Double,Double,Double,Double
Backhoe_Mounting,NaN,NaN,NaN,NaN,NaN
Blade_Type,NaN,NaN,NaN,NaN,NaN
Travel_Controls,NaN,NaN,NaN,NaN,NaN
Differential_Type,NaN,NaN,NaN,NaN,NaN
Steering_Controls,NaN,NaN,NaN,NaN,NaN

In [9]:
#chaning saleprice with log values to make it even ;Root mean squared log error.
df_raw.SalePrice=np.log(df_raw.SalePrice)

In [10]:
df_raw['SalePrice'].head().transpose()

0    11.097410
1    10.950807
2     9.210340
3    10.558414
4     9.305651
Name: SalePrice, dtype: float64

In [11]:
m=RandomForestRegressor(n_jobs=-1)

In [12]:
m.fit(df_raw.drop('SalePrice',axis=1),df_raw.SalePrice)

C:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: could not convert string to float: 'Low'

In [13]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
SalesID                     401125 non-null int64
SalePrice                   401125 non-null float64
MachineID                   401125 non-null int64
ModelID                     401125 non-null int64
datasource                  401125 non-null int64
auctioneerID                380989 non-null float64
YearMade                    401125 non-null int64
MachineHoursCurrentMeter    142765 non-null float64
UsageBand                   69639 non-null object
saledate                    401125 non-null datetime64[ns]
fiModelDesc                 401125 non-null object
fiBaseModel                 401125 non-null object
fiSecondaryDesc             263934 non-null object
fiModelSeries               56908 non-null object
fiModelDescriptor           71919 non-null object
ProductSize                 190350 non-null object
fiProductClassDesc          401125 non-null object
state                       401125 non-null object
ProductGroup                401125 non-null object
ProductGroupDesc            401125 non-null object
Drive_System                104361 non-null object
Enclosure                   400800 non-null object
Forks                       192077 non-null object
Pad_Type                    79134 non-null object
Ride_Control                148606 non-null object
Stick                       79134 non-null object
Transmission                183230 non-null object
Turbocharged                79134 non-null object
Blade_Extension             25219 non-null object
Blade_Width                 25219 non-null object
Enclosure_Type              25219 non-null object
Engine_Horsepower           25219 non-null object
Hydraulics                  320570 non-null object
Pushblock                   25219 non-null object
Ripper                      104137 non-null object
Scarifier                   25230 non-null object
Tip_Control                 25219 non-null object
Tire_Size                   94718 non-null object
Coupler                     213952 non-null object
Coupler_System              43458 non-null object
Grouser_Tracks              43362 non-null object
Hydraulics_Flow             43362 non-null object
Track_Type                  99153 non-null object
Undercarriage_Pad_Width     99872 non-null object
Stick_Length                99218 non-null object
Thumb                       99288 non-null object
Pattern_Changer             99218 non-null object
Grouser_Type                99153 non-null object
Backhoe_Mounting            78672 non-null object
Blade_Type                  79833 non-null object
Travel_Controls             79834 non-null object
Differential_Type           69411 non-null object
Steering_Controls           69369 non-null object
dtypes: datetime64[ns](1), float64(3), int64(5), object(44)
memory usage: 162.2+ MB

In [ ]:
def add_datepart(df, fldname, drop=True):
    fld = df[fldname]
    if not np.issubdtype(fld.dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, 
                                     infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    #print(targ_pre)
    for n in ('Year', 'Month', 'Week', 'Day', 'Dayofweek', 
            'Dayofyear', 'Is_month_end', 'Is_month_start', 
            'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 
            'Is_year_start'):
        df[targ_pre+n] = getattr(fld.dt,n.lower())
    df[targ_pre+'Elapsed'] = fld.astype(np.int64) // 10**9
    if drop: df.drop(fldname, axis=1, inplace=True)
        

#getattr — look inside of an object and finds an attribute with that name

In [ ]:
fld=df_raw.saledate
fld.dt,'YEAR'.lower()

In [14]:
add_datepart(df_raw,'saledate')

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
0,1139246,11.097410,999089,3157,121,3.0,2004,68.0,Low,521D,...,16,3,320,False,False,False,False,False,False,1163635200
1,1139248,10.950807,117657,77,121,3.0,1996,4640.0,Low,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
2,1139249,9.210340,434808,7009,121,3.0,2001,2838.0,High,226,...,26,3,57,False,False,False,False,False,False,1077753600
3,1139251,10.558414,1026470,332,121,3.0,2001,3486.0,High,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,9.305651,1057373,17311,121,3.0,2007,722.0,Medium,S175,...,23,3,204,False,False,False,False,False,False,1248307200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401120,6333336,9.259131,1840702,21439,149,1.0,2005,NaN,NaN,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401121,6333337,9.305651,1830472,21439,149,1.0,2005,NaN,NaN,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401122,6333338,9.350102,1887659,21439,149,1.0,2005,NaN,NaN,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401123,6333341,9.104980,1903570,21435,149,2.0,2005,NaN,NaN,30NX,...,25,1,298,False,False,False,False,False,False,1319500800
401124,6333342,8.955448,1926965,21435,149,2.0,2005,NaN,NaN,30NX,...,25,1,298,False,False,False,False,False,False,1319500800

In [15]:
df_raw.saleYear.head()

0    2006
1    2004
2    2004
3    2011
4    2009
Name: saleYear, dtype: int64

In [16]:
df_raw.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
0,1139246,11.097410,999089,3157,121,3.0,2004,68.0,Low,521D,...,16,3,320,False,False,False,False,False,False,1163635200
1,1139248,10.950807,117657,77,121,3.0,1996,4640.0,Low,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
2,1139249,9.210340,434808,7009,121,3.0,2001,2838.0,High,226,...,26,3,57,False,False,False,False,False,False,1077753600
3,1139251,10.558414,1026470,332,121,3.0,2001,3486.0,High,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,9.305651,1057373,17311,121,3.0,2007,722.0,Medium,S175,...,23,3,204,False,False,False,False,False,False,1248307200

In [18]:
#wil check later
def train_cats(df):
    """Change any columns of strings in a panda's dataframe to a column of
    categorical values. This applies the changes inplace.
    """
    for n,c in df.items():
        if pd.api.types.is_string_dtype(c): df[n] = c.astype('category').cat.as_ordered()

In [19]:
train_cats(df_raw) #wil check later

In [20]:
df_raw.UsageBand.astype('category').cat.set_categories(['High', 'Medium', 'Low'],
    ordered=True, inplace=True) 
"""Change any columns of strings in a panda's dataframe to a column of
    categorical values. This applies the changes inplace.
    """

"Change any columns of strings in a panda's dataframe to a column of\n    categorical values. This applies the changes inplace.\n    "

In [21]:
df_raw.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
0,1139246,11.097410,999089,3157,121,3.0,2004,68.0,Low,521D,...,16,3,320,False,False,False,False,False,False,1163635200
1,1139248,10.950807,117657,77,121,3.0,1996,4640.0,Low,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
2,1139249,9.210340,434808,7009,121,3.0,2001,2838.0,High,226,...,26,3,57,False,False,False,False,False,False,1077753600
3,1139251,10.558414,1026470,332,121,3.0,2001,3486.0,High,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,9.305651,1057373,17311,121,3.0,2007,722.0,Medium,S175,...,23,3,204,False,False,False,False,False,False,1248307200

In [22]:
display_all(df_raw.isnull().sum().sort_index()/len(df_raw))

Backhoe_Mounting            0.803872
Blade_Extension             0.937129
Blade_Type                  0.800977
Blade_Width                 0.937129
Coupler                     0.466620
Coupler_System              0.891660
Differential_Type           0.826959
Drive_System                0.739829
Enclosure                   0.000810
Enclosure_Type              0.937129
Engine_Horsepower           0.937129
Forks                       0.521154
Grouser_Tracks              0.891899
Grouser_Type                0.752813
Hydraulics                  0.200823
Hydraulics_Flow             0.891899
MachineHoursCurrentMeter    0.644089
MachineID                   0.000000
ModelID                     0.000000
Pad_Type                    0.802720
Pattern_Changer             0.752651
ProductGroup                0.000000
ProductGroupDesc            0.000000
ProductSize                 0.525460
Pushblock                   0.937129
Ride_Control                0.629527
Ripper                      0.740388
SalePrice                   0.000000
SalesID                     0.000000
Scarifier                   0.937102
Steering_Controls           0.827064
Stick                       0.802720
Stick_Length                0.752651
Thumb                       0.752476
Tip_Control                 0.937129
Tire_Size                   0.763869
Track_Type                  0.752813
Transmission                0.543210
Travel_Controls             0.800975
Turbocharged                0.802720
Undercarriage_Pad_Width     0.751020
UsageBand                   0.826391
YearMade                    0.000000
auctioneerID                0.050199
datasource                  0.000000
fiBaseModel                 0.000000
fiModelDesc                 0.000000
fiModelDescriptor           0.820707
fiModelSeries               0.858129
fiProductClassDesc          0.000000
fiSecondaryDesc             0.342016
saleDay                     0.000000
saleDayofweek               0.000000
saleDayofyear               0.000000
saleElapsed                 0.000000
saleIs_month_end            0.000000
saleIs_month_start          0.000000
saleIs_quarter_end          0.000000
saleIs_quarter_start        0.000000
saleIs_year_end             0.000000
saleIs_year_start           0.000000
saleMonth                   0.000000
saleWeek                    0.000000
saleYear                    0.000000
state                       0.000000
dtype: float64

In [ ]:
os.makedirs('tmp', exist_ok=True)
df_raw.to_feather('tmp/bulldozers-raw')

In [ ]:
## Now lets check for numerical variables the contains missing values
numerical_with_nan=[feature for feature in df_raw.columns if df_raw[feature].isnull().sum()>1 and df_raw[feature].dtypes!='c']

## We will print the numerical nan variables and percentage of missing values

for feature in numerical_with_nan:
    print("{}: {}% missing value".format(feature,np.around(df_raw[feature].isnull().mean(),4)))

In [24]:
df, y, nas = proc_df(df_raw, 'SalePrice')

NameError: name 'proc_df' is not defined

In [25]:
def proc_df(df, y_fld=None, skip_flds=None, ignore_flds=None, do_scale=False, na_dict=None,
            preproc_fn=None, max_n_cat=None, subset=None, mapper=None):
    """ proc_df takes a data frame df and splits off the response variable, and
    changes the df into an entirely numeric dataframe. For each column of df
    which is not in skip_flds nor in ignore_flds, na values are replaced by the
    median value of the column.
    """
    if not ignore_flds: ignore_flds=[]
    if not skip_flds: skip_flds=[]
    if subset: df = get_sample(df,subset)
    else: df = df.copy()
    ignored_flds = df.loc[:, ignore_flds]
    df.drop(ignore_flds, axis=1, inplace=True)
    if preproc_fn: preproc_fn(df)
    if y_fld is None: y = None
    else:
        if not pd.api.types.is_numeric_dtype(df[y_fld]): df[y_fld] = pd.Categorical(df[y_fld]).codes
        y = df[y_fld].values
        skip_flds += [y_fld]
    df.drop(skip_flds, axis=1, inplace=True)

    if na_dict is None: na_dict = {}
    else: na_dict = na_dict.copy()
    na_dict_initial = na_dict.copy()
    for n,c in df.items(): na_dict = fix_missing(df, c, n, na_dict)
    if len(na_dict_initial.keys()) > 0:
        df.drop([a + '_na' for a in list(set(na_dict.keys()) - set(na_dict_initial.keys()))], axis=1, inplace=True)
    if do_scale: mapper = scale_vars(df, mapper)
    for n,c in df.items(): numericalize(df, c, n, max_n_cat)
    df = pd.get_dummies(df, dummy_na=True)
    df = pd.concat([ignored_flds, df], axis=1)
    res = [df, y, na_dict]
    if do_scale: res = res + [mapper]
    return res

In [26]:
def fix_missing(df, col, name, na_dict):
    """ Fill missing data in a column of df with the median, and add a {name}_na column
    which specifies if the data was missing.
    """
    if pd.api.types.is_numeric_dtype(col):
        if pd.isnull(col).sum() or (name in na_dict):
            df[name+'_na'] = pd.isnull(col)
            filler = na_dict[name] if name in na_dict else col.median()
            df[name] = col.fillna(filler)
            na_dict[name] = filler
    return na_dict

In [33]:
def numericalize(df,col,name,max_n_cat):
    if not pd.api.types.is_numeric_dtype(col) and (max_n_cat is None or col.nunique()>max_n_cat()):
        df[name]=col.cat.codes+1

In [34]:
df, y, nas = proc_df(df_raw, 'SalePrice')

In [37]:
display_all(df.head().transpose())

,0,1,2,3,4
SalesID,1139246,1139248,1139249,1139251,1139253
MachineID,999089,117657,434808,1026470,1057373
ModelID,3157,77,7009,332,17311
datasource,121,121,121,121,121
auctioneerID,3,3,3,3,3
YearMade,2004,1996,2001,2001,2007
MachineHoursCurrentMeter,68,4640,2838,3486,722
UsageBand,2,2,1,1,3
fiModelDesc,950,1725,331,3674,4208
fiBaseModel,296,527,110,1375,1529
fiSecondaryDesc,41,55,0,0,0
fiModelSeries,0,98,0,45,0
fiModelDescriptor,0,0,0,0,0
ProductSize,0,4,0,6,0
fiProductClassDesc,59,62,39,8,40
state,1,33,32,44,32
ProductGroup,6,6,3,4,3
ProductGroupDesc,6,6,3,4,3
Drive_System,0,0,0,0,0
Enclosure,3,3,6,3,1
Forks,1,1,1,0,1
Pad_Type,0,0,0,0,0
Ride_Control,2,2,0,0,0
Stick,0,0,0,0,0
Transmission,0,0,0,0,0
Turbocharged,0,0,0,0,0
Blade_Extension,0,0,0,0,0
Blade_Width,0,0,0,0,0
Enclosure_Type,0,0,0,0,0
Engine_Horsepower,0,0,0,0,0
Hydraulics,1,1,4,1,4
Pushblock,0,0,0,0,0
Ripper,0,0,0,0,0
Scarifier,0,0,0,0,0
Tip_Control,0,0,0,0,0
Tire_Size,17,12,0,0,0
Coupler,3,3,3,3,3
Coupler_System,0,0,1,0,1
Grouser_Tracks,0,0,1,0,1
Hydraulics_Flow,0,0,3,0,3
Track_Type,0,0,0,0,0
Undercarriage_Pad_Width,0,0,0,0,0
Stick_Length,0,0,0,0,0
Thumb,0,0,0,0,0
Pattern_Changer,0,0,0,0,0
Grouser_Type,0,0,0,0,0
Backhoe_Mounting,0,0,0,0,0
Blade_Type,0,0,0,0,0
Travel_Controls,0,0,0,0,0
Differential_Type,4,4,0,0,0
Steering_Controls,2,2,0,0,0
saleYear,2006,2004,2004,2011,2009
saleMonth,11,3,2,5,7
saleWeek,46,13,9,20,30
saleDay,16,26,26,19,23
saleDayofweek,3,4,3,3,3
saleDayofyear,320,86,57,139,204
saleIs_month_end,False,False,False,False,False
saleIs_month_start,False,False,False,False,False
saleIs_quarter_end,False,False,False,False,False
saleIs_quarter_start,False,False,False,False,False
saleIs_year_end,False,False,False,False,False
saleIs_year_start,False,False,False,False,False
saleElapsed,1163635200,1080259200,1077753600,1305763200,1248307200
auctioneerID_na,False,False,False,False,False
MachineHoursCurrentMeter_na,False,False,False,False,False

In [39]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)

C:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
                      oob_score=False, random_state=None, verbose=0,
                      warm_start=False)

In [40]:
m.score(df,y)

0.9830788106365969

In [41]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 12000  # same as Kaggle's test set size
n_trn = len(df)-n_valid
raw_train, raw_valid = split_vals(df_raw, n_trn)
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape

((389125, 66), (389125,), (12000, 66))

In [42]:
def rmse(x, y): return math.sqrt(((x - y)**2).mean())

def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

m = RandomForestRegressor(n_jobs=-1)
%time m.fit(X_train, y_train)
print_score(m)

C:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Wall time: 20.9 s
[0.09030600759733737, 0.24708285711915406, 0.9829561339869255, 0.8909732156285839]

In [43]:
print_score(m)

[0.09030600759733738, 0.24708285711915406, 0.9829561339869255, 0.8909732156285839]